html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
  background-color: black;
}

body {
  font-size: 20px;
}

img {max-width: 100%;}
h1 {
  font-size: 7.51vw;
  font-family: 'Kanit', cursive;
  color: rgba(0, 0, 0, 0.88);
  text-shadow: 1px 1px 11px #FFF;
}
h2 {
  font-size: 3.51vw;
  font-family: 'Kanit', cursive;
}

section {
  display: block;
  box-sizing:border-box;
  background: white;
}

section.full {
  height:100%;
  width:100%;
  background-size: cover;
  background-position: center;
}

section > .inner, footer > .inner {
  width: 100%;
  padding: 10vh 6vw;
}
section > .inner.splash {
  padding: 20vh 6vw;
}

section.sec {background: darkblue;}
section.thi { background: #345029}

footer {
  text-align: center;
  background-color: #1a1a1a;
  color: white;
}
footer nav {
  margin: 2rem 0;
}
footer nav a {
  text-transform:uppercase;
  margin: 1rem .25rem;
  font-size: 1.5vw;
}

#resume section.tech {
  background: #d2d2d2;
}
#resume section.tech .inner,
#resume section.work .inner
 {
  display: flex;
  flex-wrap: wrap;
}
#resume section.tech h2,
#resume section.work h2
 {
  flex: 1 1 33%;
  margin: 1rem 0;
}
#resume section.tech div.content,
#resume section.work div.content
 {
  flex: 1 1 66%;
  margin: 1rem 0;
}

#resume section.tech div.content.grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3rem 2fr;
  grid-auto-flow: column;
}
#resume section.header {
  background-image: url('../img/coding-laptop-1.jpg');
  background-blend-mode: luminosity;
}
#about section.header {
  background-image: url('../img/willow-laptop.jpg');
}
#about section.stats {
  background: #d2d2d2;
}
#about section.stats .inner {
  display: flex;
  flex-wrap: nowrap;
}
#about section.stats .inner > * {
  flex-basis: 50%;
  margin: 2rem;
}
#about section.instagram .inner {
  padding: 0;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
}
#about section.instagram {
  padding-bottom: 5vh;
}
#about section.instagram > .inner > div {
  overflow: hidden;
  max-height: 33.33vw;
}
#about section.instagram img {
  width: 100%;
}
#about section.instagram .instagram-link {
  text-align: center;
  padding: 2rem 6vw;;
}
#about img.profile {
  width: 100%;
  max-width: 400px;
  border-radius:50%;
  padding: 1rem;
  margin:2rem auto;
  text-align: center;
  display: block;
}

/*
#resume section.tech div.content h3:nth-child(odd) {float: left;}
#resume section.tech div.content h3:nth-child(even) {float: right;}
#resume section.tech div.content ul:nth-child(odd) {float: left;}
#resume section.tech div.content ul:nth-child(even) {float: right;}
*/


footer nav p { font-size: .8em; }
@media only screen and (max-width: 768px){
  h1 {      font-size: 10vw;  }
  h2 {      font-size: 8vw;  }
  h3 {      font-size: 5vw;  }
  footer nav a {
    font-size: 2.5vw;
  }

  p {
    font-size: 20px;
    line-height: 1.75;
  }
  #about section.stats .inner {
    display: block;
  }
  #about section.instagram .inner {
    grid-template-columns: 1fr 1fr;
  }
  #about section.instagram > .inner > div {
    overflow: hidden;
    max-height: 50vw;
  }
}
